<div class="page-wrapper">
    <header id="page-header">
        <nav>
            <div class="left">
                รายงานผลสํารวจมาตรฐานชีวิตคนพิการ &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://apm.numedapp.com/dashboard" class="promoted">“พม. รู้จักคุณ”</a>
            </div>
            <!--end left-->
            
            <!--MEGA menu right-->
			<div class="right">
                <app-navbar></app-navbar>
			</div>
            <div class="secondary-nav">
                <a routerLink="/login" data-modal-external-file="#" data-target="modal-sign-in">ลงชื่อเข้าใช้</a>
            </div>
            <!--end secondary-nav-->
			<!--end right-->
			
        </nav>
        <!--end nav-->
    </header>
    <!--end page-header-->

    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">Dashboard</li>
            </ol>
            <!--end breadcrumb-->
            
            <!--content-->

            <!--<login></login>-->



            <!--end content-->

            <!--end ro-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->

    <footer id="page-footer">
        <div class="footer-wrapper">
            <div class="block">
                <app-footer></app-footer>
            </div>
            <div class="footer-navigation">

            </div>
        </div>
    </footer>
    <!--end page-footer-->
</div>
<a href="#" class="to-top scroll" data-show-after-scroll="600"><i class="arrow_up"></i></a>